nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 30px;
  background-color: #fff;
  transition: all 1s ease-in-out;
}

.sticky {
  position: fixed;
  top: -10px;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 1px 6px 5px rgba(0, 0, 0, 0.1);
  padding-top: 10px; /*Reduce padding on sticky */
  transition: all 0.4s ease-in-out; /* Smooth transition */
}

.logo {
  cursor: pointer;
  width: 8.7rem;
}

.nav-links {
  display: flex;
  list-style: none;
  position: relative;
  gap: 10px;
}

.nav-links li .link {
  text-decoration: none;
  padding: 42px 20px;
  font-weight: 500;
  color: #000;
  font-size: 17px;
}
.nav-links li .link:hover {
  color: red;
  transition: 0.5s;
}

.hot {
  position: absolute;
  bottom: 22px;
  left: 21.5rem;
  background-color: #ff003c;
  color: #fff;
  font-size: 11px;
  letter-spacing: 0.8px;
  font-weight: 500;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 8px 8px 4px 8px;
  border-radius: 8px;
}

.submenu {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 20px;
  top: 3.8rem;
  border-top: 4px solid #ff003c;
  border-radius: 7px 7px 4px 4px;
  padding: 30px 30px 30px 15px;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 10;
}
.up {
  color: #ff003c;
  position: absolute;
  top: -16.3px;
  left: 20px;
  font-size: 20px;
}

.latest:hover .submenu {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  pointer-events: auto;
}

.submenu-link {
  padding: 20px 3px;
  text-decoration: none;
  font-weight: 500;
  color: #000;
  font-size: 17px;
}
.submenu-link:hover {
  color: red;
  transition: 0.3s;
}

.accounts {
  display: flex;
  gap: 40px;
  font-size: 23px;
  padding-right: 30px;
}
.icon {
  cursor: pointer;
  color: black;
}

.hamburger {
  display: none;
  position: absolute;
  cursor: pointer;
  right: 35px;
  font-size: 20px;
}

@media screen and (max-width: 1025px) {
  nav {
    padding: 39px 20px;
  }
  .nav-links {
    gap: 0px;
  }
  .nav-links li .link {
    padding: 55px 15px;
  }
  .accounts {
    display: flex;
    gap: 35px;
    font-size: 23px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 812px) {
  nav {
    padding: 20px 30px;
  }

  .logo {
    width: 5rem;
  }
  .accounts {
    font-size: 18px;
  }

  .hamburger {
    display: block;
    z-index: 100;
  }
  .cross {
    color: white;
  }
  .nav-links {
    flex-direction: column;
    position: absolute;
    top: 0;
    right: -100%;
    width: 60%;
    z-index: 12;
    padding: 110px 30px;
    height: 100vh;
    background-color: #fc272a;
    gap: 30px;
    transition: all 0.7s ease-in-out;
  }

  .nav-links li .link {
    color: #fff;
    padding: 5px 20px;
  }
  .nav-links li .link:hover {
    color: white;
    transition: 0.5s;
  }
  .nav-links.active {
    top: 0;
    right: 0;
  }
  .hot {
    display: none;
  }
  .accounts {
    padding-right: 53px;
    gap: 19px;
  }

  .submenu {
    position: relative;
    display: none;
    border-top: none;
    gap: 10px;
    top: 10px;
    left: 40px;
    visibility: visible;
    padding: 5px;
    background-color: transparent;
    box-shadow: none;
    z-index: 10;
  }

  .submenu.open {
    display: flex;
    z-index: 10;
  }

  .submenu-link {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    z-index: 10;
  }

  .latest {
    display: none; /*display none of latest which is only for laptop screen in mob screen i have latest-sub*/
  }

  .latest-sub .submenu {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    z-index: 10;
  }
}

@media screen and (min-width: 812px) {
  .latest-sub {
    display: none;
  }
}
